---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About Me</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>My Astro Site</h1>
    <h1>About Me</h1>

    <p>
      I am working on creating a blog using the Astro Blog tutorial as my guide
      to astro
    </p>

    <p>
      This site will contain blog post about my dev experience whether that be
      Astro or anything else
    </p>
  </body>
</html>
