---
import Social from "./Social.astro";

const platform = "github";
const username = "Howard404";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>

  <Social platform="instagram" username="rice_trio" />
</footer>
