---
const platform = "github";
const username = "Howard404";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Follow my band on  <a href='https://www.instagram.com/rice_trio/'>instagram</a>!</p>
</footer>